* {
  margin: 0px 0px;
  padding: 0px;
  background-color: #67cfe7;
}

.tablero {
  grid-area: tablero;
  width: 600px;
  height: 600px;
  position: relative;
  border: 5px double #cea1a3;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all ease 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7eb6a7;
}

.container span {
  font-size: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  color: #cea1a3;
}
.cuadrito {
  position: absolute;
  display: block;
  background-color: black;
  border: 1px double #3e6346;
  box-sizing: border-box;
  border-radius: 10px;
}

.food {
  position: absolute;
  display: block;
  background-color: #7eb6a7;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
}

.score {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  grid-area: score;
}

.controls {
  grid-area: controls;
  background-color: white;
  width: 100px;
  display: none;
  user-select: none;
}

.start-title {
  font-family: "Bungee Outline", cursive;
  font-size: 50px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  background-color: #7eb6a7;
  text-align: center;
}

.proposition {
  font-family: "Bungee Outline", cursive;
  font-size: 30px;
  font-weight: bold;
  user-select: none;

  background-color: #7eb6a7;
  text-align: center;
}

.proposition p {
  background-color: #7eb6a7;
}

.proposition span {
  color: white;
  font-family: "Bungee Outline", cursive;
  font-size: 30px;
  font-weight: bold;
  user-select: none;
  background-color: #7eb6a7;
  cursor: pointer;
  text-align: center;
}

.start-title:hover {
  font-size: 60px;
  color: white;
  user-select: none;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
      "score"
      "tablero"
      "controls";
    grid-template-rows: 20px 1fr 1fr;
  }
  .tablero {
    grid-area: tablero;
    width: 85vw;
    height: 85vw;
    position: relative;
    border: 5px double #cea1a3;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all ease 200ms;
    justify-content: center;
    align-items: center;
  }
  .score {
    width: 85vw;
    margin-top: 5px;
  }

  .controls {
    grid-area: controls;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: #cea1a3;
    font-weight: bold;
  }

  .controls div {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  .controls .vertical {
    width: 100%;
  }
}


.button {
  background-color: #7eb6a7;
  border: double 2px #000;
  border-radius: 10px;
  width: 90%;
  margin: 5px auto;
}
