* {
  margin: 0px 0px;
  padding: 0px;
  background-color: #86be92;
}

.tablero {
  width: 600px;
  height: 600px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
}

.container span {
  font-size: 30px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}
.cuadrito {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: black;
  border: 1px solid #3e6346;
  box-sizing: border-box;
}

.food {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: black;
  border: 1px solid #3e6346;
  box-sizing: border-box;
  border-radius: 10px;
}
